<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h3>All Exams</h3>
    <div *ngFor="let exam of wholeExams; let i = index">
      <button *ngIf="showFiller !== i"
              (click)="showFiller = i" class="list-btn">
        {{ exam?.testName }}
      </button>
      <br *ngIf="showFiller === i">
      <mat-card *ngIf="showFiller === i" class="mat-elevation-z4">
        <mat-card-title>{{ exam?.testName }}</mat-card-title>
        <mat-card-subtitle>{{ exam?.userDto?.username }}</mat-card-subtitle>
        <mat-card-content>
          <p>No. participants: {{ exam?.testResultDtos?.length }}</p>
          <p>Avg. result: {{ computeAverageExamScore(exam?.testResultDtos) }}%</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
          <button type="button" mat-button (click)="showFiller = undefined">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-raised-button>Results</button>
          <button mat-raised-button
                  color="primary" (click)="sitExam(exam?.testId)">Sit</button>
        </mat-card-actions>
      </mat-card>
      <br *ngIf="showFiller === i">
    </div>
  </mat-drawer>

  <mat-card class="sidenav-content">
    <div>
      <button *ngIf="sidebarOpen" type="button" mat-button (click)="drawer.toggle(sidebarOpen = !sidebarOpen)">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button *ngIf="!sidebarOpen" type="button" mat-button (click)="drawer.toggle(sidebarOpen = !sidebarOpen)">
        <mat-icon>menu_open</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-card>


</mat-drawer-container>
