.sidenav-container {
  width: 100%;
  height: calc(100vh - 72px);
}

.sidenav-content {
  height: calc(100vh - 104px);
  overflow:auto;
}

.sidenav {
  padding: 20px;
  background-color: whitesmoke;
}

.list-btn {
  background: none!important;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
