<h2 style="text-align: center">Welcome to examitron.io</h2>
<br>
<p style="text-align: center">This Angular examination webapp with a Java (Spring Boot) and H2 backend allows you to:</p>
<ol style="text-align: center; list-style-position: inside;">
  <li>create online exams</li>
  <li>take part in exams</li>
  <li>review exam results</li>
</ol>
<p style="text-align: center">Click on <i>"New Exam"</i> at the top right of the page to create a new exam.</p>
<p style="text-align: center">Open the sidebar to view the list of all exams and to participate in or review them.</p>
<p style="text-align: center; color: orange;">Info: Make sure the backend is running on port 8080. The backend project repo is available at: <a href="https://github.com/lucaskienast/spring-boot-exam-api">GitHub</a></p>
