<form [formGroup]="sendExamWithResultAndAnswersFormGroup" (ngSubmit)="sendExamWithResultAndAnswers()">

  <mat-vertical-stepper [linear]="isLinear" #stepper animationDuration="1000">

    <div formGroupName="givenAnswersFormGroup">

      <div class="form-group">
        <mat-step>
          <ng-template matStepLabel>Question 1</ng-template>
          <label id="example-radio-group-label-1">{{examToSitDto?.questions[0]?.questionName}}</label>
          <mat-radio-group *ngIf="examToSitDto?.examDto?.examName?.length >= 1"
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            formControlName="answer1Control">

            <mat-radio-button class="example-radio-button" *ngFor="let possibleAnswer of examToSitDto?.questions[0]?.possibleAnswers" [value]="possibleAnswer">
              {{possibleAnswer.answer}}
            </mat-radio-button>

          </mat-radio-group>
          <div>Your answer: {{sendExamWithResultAndAnswersFormGroup
            .get('givenAnswersFormGroup')?.get('answer1Control')?.value}}</div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Question 2</ng-template>
          <label id="example-radio-group-label-2">{{examToSitDto?.questions[1]?.questionName}}</label>
          <mat-radio-group *ngIf="examToSitDto?.examDto?.examName?.length >= 1"
                           aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           formControlName="answer2Control">

            <mat-radio-button class="example-radio-button" *ngFor="let possibleAnswer of examToSitDto?.questions[1]?.possibleAnswers" [value]="possibleAnswer">
              {{possibleAnswer.answer}}
            </mat-radio-button>

          </mat-radio-group>
          <div>Your answer: {{sendExamWithResultAndAnswersFormGroup
            .get('givenAnswersFormGroup')?.get('answer1Control')?.value}}</div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
      </div>

    </div>

    <div formGroupName="userFormGroup">

      <div class="form-group">
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You have reached the end of the exam! Enter your username and password to upload your answers and get your results.</p>
          <div class="container">
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="usernameControl" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="passwordControl" type="password" required>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button type="submit" (click)="sendExamWithResultAndAnswers()" mat-button>Submit</button>
          </div>
          <br>
          <mat-error *ngIf="sendExamWithResultAndAnswersFormGroup.invalid">
            Please fill out all fields, select the correct answers, and enter your credentials.
          </mat-error>
        </mat-step>
      </div>

    </div>

    <mat-step>
      <ng-template matStepLabel>Results</ng-template>
      <p>90%</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</form>

