<mat-vertical-stepper [linear]="isLinear" #stepper animationDuration="1000">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Question 1</ng-template>
      <label id="example-radio-group-label">What is the area of a triangle?</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="firstCtrl">
        <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer">
          {{answer}}
        </mat-radio-button>
      </mat-radio-group>
      <div>Your answer: {{firstFormGroup.get('firstCtrl')?.value}}</div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Question 2">
    <form [formGroup]="secondFormGroup">

      <app-exam-question></app-exam-question>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You have reached the end of the exam! Enter your username and password to hand in your solutions.</p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput required type="password">
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Results</ng-template>
    <p>Here are your exam results!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
