<form [formGroup]="createExamForm" (ngSubmit)="submitExamCreation()">

  <mat-form-field appearance="fill">
    <mat-label>Exam Name</mat-label>
    <input matInput formControlName="testNameControl" required>
  </mat-form-field>

  <mat-vertical-stepper [linear]="isLinear" #stepper animationDuration="1000">

    <div formGroupName="questionFormGroups">

      <div formGroupName="firstQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 1</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('firstQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="secondQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 2</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('secondQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="thirdQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 3</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('thirdQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="fourthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 4</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('fourthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="fifthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 5</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('fifthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="sixthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 6</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('sixthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="seventhQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 7</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('seventhQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="eigthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 8</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('eighthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="ninthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 9</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('ninthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

      <div formGroupName="tenthQuestionFormGroup">
        <div class="form-group">
          <mat-step>
            <ng-template matStepLabel>Question 10</ng-template>
            <div class="container">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Question statement</mat-label>
                  <input matInput formControlName="questionControl" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <p>Select the correct answer below.</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="correctAnswerControl">
              <mat-radio-button class="example-radio-button" *ngFor="let answerControlName of answerControlNames" [value]="answerControlName">
                <mat-form-field appearance="fill">
                  <mat-label>Possible Answer</mat-label>
                  <input matInput formControlName="{{answerControlName}}" required>
                </mat-form-field>
              </mat-radio-button>
            </mat-radio-group>
            <div>Correct answer: {{createExamForm.get('questionFormGroups')?.get('tenthQuestionFormGroup')?.get('correctAnswerControl')?.value}}</div>
            <div>
              <button mat-button matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </div>
      </div>

    </div>

    <div formGroupName="userFormGroup">
      <div class="form-group">
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You have reached the end of the exam creation process! Enter your username and password to upload this new exam.</p>
          <div class="container">
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="usernameControl" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="passwordControl" type="password" required>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button type="submit" (click)="submitExamCreation()" mat-button>Submit</button>
          </div>
          <br>
          <mat-error *ngIf="createExamForm.invalid">
            Please fill out all fields, select the correct answers, and enter your credentials.
          </mat-error>
        </mat-step>
      </div>
    </div>

  </mat-vertical-stepper>
</form>
